body{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

.img-certificado{
    width: 300px;
    height: auto;
}

header{
    margin: 0;
    padding: 0;

}

nav{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li{
    margin: 0 10px;
}

nav ul li a{
    color: white;
    text-decoration: none;
}


section{
    margin: 10px;
    padding: 0;
}

.capa{
    display: flex;
}

.foto-perfil{
    width: 200px;
    height: auto;

}

.dados{
    margin-left: 20px;
}

.timeline {
    position: relative;
    margin: 0 auto;
    padding: 20px 0;
    width: 90%;
}

.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    height: 100%;
    background: #C5C5C5;
}

.timeline-item {
    position: relative;
    margin: 20px 0;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.timeline-item:nth-child(odd) {
    left: 0;
}

.timeline-item:nth-child(even) {
    left: 50%;
}

.timeline-item::before {
    content: '';
    position: absolute;
    top: 20px;
    right: -8px;
    width: 16px;
    height: 16px;
    background: #C5C5C5;
    border-radius: 50%;
    z-index: 1;
}

.timeline-item:nth-child(even)::before {
    left: -8px;
    right: auto;
}

.timeline-item:nth-child(odd)::after {
    content: '';
    position: absolute;
    top: 20px;
    left: 100%;
    margin-left: -8px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent transparent #fff;
}

.timeline-item:nth-child(even)::after {
    content: '';
    position: absolute;
    top: 20px;
    right: 100%;
    margin-right: -8px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent #fff transparent transparent;
}

.timeline-content {
    padding: 20px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    position: relative;
    z-index: 2;
}