body{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

.img-certificado{
    width: 300px;
    height: auto;
}

header{
    margin: 0;
    padding: 0;
}

nav{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li{
    margin: 0 10px;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

nav ul li a:hover{
    transition: 0.5s;
    font-size: 20px;
}


section{
    margin: 10px;
    padding: 0;
}

.capa{
    display: flex;
    margin-left: 20;
    background-color: #002166;
    color: #fff;

}

.foto-perfil{
    width: 200px;
    height: auto;
}

.sessao{
    margin-left: 20px;
}

.sobre{
    transition: 1s;
    padding: 40px;
    background-color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #fff;
}

.sobre p{
    text-align: justify;
}

.dados{
    margin-left: 20px;
}

.contatos{
    margin-left: 80px;
}

.list-contatos{
    list-style-type: none;
    padding: 0;
}

.list-contatos li{
    margin: 5px 0;
}

.list-contatos li a{
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

section{
    margin: 0;
    padding: 0;
}

.dados h1 {
    font-size: 3.5em; 
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
    margin: 10px 0; 
}

.timeline-item{
    margin-bottom: 10px;
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
}

.bola{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-left: -10px;
    margin-top: -10px;
}

.old{
    background-color: #333;
}

.atual{
    background-color: #0049ac;
}


.timeline-content, .timeline-content h3{
    margin: 0;
    padding: 0;
}

.row{
    display: flex;
    justify-content: center;
}

.col1{
    text-align: center;
    margin-right: 200px;
    margin-top: 10px;
    padding: 20px;
    background-color: #333;
    color: #fff;
    width: 300px;
    text-align: center;
}

.col2{
    align-items: center;
    position: relative;
    text-align: center;
}

.certificados{
    columns: 3;
}


@media (max-width: 1000px) {
    .certificados {
        columns: 2;
    }
}

@media (max-width: 768px) {
    .certificados {
        columns: 1;
    }
}

.animated-content {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
}

.animated-content.visible {
    opacity: 1;
    transform: translateY(0);
}

.tecs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tecnologia{
    width: 80px;
    margin: 20px;
    transition: 0.3s;
}

.tecnologia:hover{
    width: 100px;
    margin: 0;
}

.title{
    font-size: large;
}

.desc{
    display: none;
}

.title:hover ~ .desc{
    display: block;
}

footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}
